.active {
    color: #FF444A;
    border-bottom: 2px solid#FF444A;
    transition: border ease-out .2s;

}


@keyframes border_anim {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}